.mainBox{
    max-width: 1193px;
    /* height: 1024px; */
    /* border: 1px solid #000; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    
    
}
.mainBox h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SkeletonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
    /* border: 1px solid #000; */
    
}

.skeleton{
    display: flex;
    flex-wrap: wrap ;
}