.container {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 232px;
  position: absolute;
  width: 1052px;
  height: 54px;
  left: 292px;
  top: 57px;
}
.leftBar {
  width: 672px;
  height: 54px;
}
.leftBar >div:nth-child(1)   {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 213px;
height: 31px;
left: 0px;
top: 11.5px;
}
.leftBar >div:nth-child(1) h1{
  width: 183px;
  height: 31px;
  
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 91.5%;
  /* or 33px */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}
.leftBar >div:nth-child(1) img{
  width: 30px;
height: 30px;
}
.leftBar > div:nth-child(2) {
  /* border: 1px solid #000; */
  position: absolute;
  width: 339px;
  height: 54px;
  left: 333px;
  top: 0px;
  border-radius: 15px;
  overflow: hidden;
}
.leftBar > div:nth-child(2) > input {
  width: 339px;
  height: 54px;
  /* border: 1px solid #000; */
  border-radius: 15px;
  padding-left: 48px;
  font-weight: 700;
  font-size: 14px;
  background: #f5f5f5;
}
.leftBar > div:nth-child(2) img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 17px;
  top: 16px;
}

.RightBar {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 29px;
/* border: 1px solid #000; */
width: 148px;
height: 38px;
}
.RightBar img{
  width: 35px;
height: 35px;

}
