.container{
    /* border: 1px solid #000; */
    max-width: 1193px;
    height: 1024px;
}

.verticalLine {
    position: absolute;
    width: 1024px;
    height: 0px;
    left: 484px;
    top: 510px;
    border: 0.5px solid #b7b7b7;
    transform: rotate(90deg);
  }
  