@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

.Container {
  /* border: 1px solid #000; */
  box-sizing: border-box;
  position: relative;
  width: 247px;
  height: 1022px;
  background: #ffffff;
  border-right: 1px solid #e6e6e6;
}

/* .rectangle {
  border: 1px solid #000;
  position: absolute;
  width: 4px;
  height: 33px;
  left: 0px;
  top: 190px;
  background: #0500ff;
} */
.line {
  border: 1px solid #000;
  position: absolute;
  width: 169px;
  height: 0px;
  left: 39px;
  top: 578px;
  border: 1px solid #dfdfdf;
}
.subMainBar {
  /* border: 1px solid #000; */
  position: absolute;
  width: 149px;
  height: 799px;
  left: 50px;
  top: 84px;
}
.logo h1 {
  
  position: absolute;
  width: 125px;
  height: 44px;
  /*  */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.055em;
  color: #0038ff;
}

.child {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 122px;
  position: absolute;
  height: 686.5px;
  left: -51px;
  top: 110.5px;
}
.child1 {
  
  width: 161px;
  height: 314px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.child2 {
  width: 144px;
  height: 196px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.active{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
/* font-size: 15px; */
/* line-height: 91.5%; */
  color: #000;
  border-left: 4px solid #0500ff;
  padding-left: 50px;
  transition: .3s;
}
.default{
  font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
/* font-size: 15px; */
/* line-height: 91.5%; */
  color: #9E9E9E;
  padding-left: 50px;
  border-left: 4px solid #0400ff00;
  transition: .3s;
}




