.container {
  width: 289px;
  height: 394px;
}
.container > p {
  position: absolute;
  width: 118px;
  height: 30px;
  left: 774px;
  top: 0px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  
  color: #000000;
}
.charBox {
  position: absolute;
  width: 289px;
  height: 344px;
  left: 773px;
  top: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.priceDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 167px;
  height: 91px;
  left: 61px;
  top: 32px;
}

.priceDetail > p:nth-child(1),
p:nth-child(3) {
  /* width: 124px; */
  height: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a5a5a5;
}
.priceDetail > p:nth-child(2) {
  /* width: 167px; */
  height: 43px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.barGraph {
  /* border: 1px solid #000; */
  position: absolute;
  width: 231px;
  height: 179px;
  left: 23px;
  top: 134px;
}
