.container {
  /* border: 1px solid #000; */
  width: 338px;
  height: 393px;
}
.heading {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 0.5px;
  top: 0.5px;
  display: flex;
align-items: center;
}
.heading p{
  font-weight: 800;
  font-size: 14px;
  line-height: 91.5%;
  
}
.transactionBox {
  position: absolute;
  width: 338px;
  height: 344px;
  left: 0px;
  top: 44.5px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.subTransactionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;
  position: absolute;
  width: 272px;
  height: 274px;
  left: 33px;
  top: 35px;
  overflow: hidden;
}
.TransactionDetailBox {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 272px;
  height: 55px;
  overflow: hidden;
}
.TransactionDetailBox > div:nth-child(1) {
  width: 55px;
  height: 55px;
  background: #f0f0f0;
  border-radius: 10px;
  /* border: 1px solid #000; */
  overflow: hidden;
}
.TransactionDetailBox > div:nth-child(1) img {
  width: 79px;
height: 61px;
  border-radius: 10px;
  
}

.TransactionDetailBox > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 44px;
  width: 205px;
  height: 55px;
}
.TransactionDetailBox > div:nth-child(2) > div p:nth-child(1) {
  
  width: 116px;
  height: 19px;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 91.5%;
  
  display: flex;
  align-items: center;
  
  color: #000000;
  
}
.TransactionDetailBox > div:nth-child(2) > div p:nth-child(2) {

width: 116px;
height: 19px;
font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 91.5%;
display: flex;
align-items: center;
color: #BDBDBD;
  
}

.TransactionDetailBox > div:nth-child(2) > p {

  width: 37px;
height: 19px;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 91.5%;
position: absolute;
right: 8px;
display: flex;
align-items: center;
text-align: right;

color: #000000;

}