.container {
  border: 1px solid #000;
  width: 209px;
  height: 319px;
}

.container > p {
  font-weight: 700;
  font-size: 15px;
  line-height: 91.5%;
  position: absolute;
  width: 118px;
  height: 30px;
  left: 446px;
  top: 5px;
}
.reminder {
  position: absolute;
  width: 209px;
  height: 269px;
  left: 446px;
  top: 50px;

  background: #0038ff;
  border-radius: 15px;
}
.reminder p:nth-child(1) {
  position: absolute;
  width: 148px;
  height: 33px;
  left: 25px;
  top: 20px;

  font-family: "Urbanist";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 91.5%;
  /* or 13px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.detail {
  position: absolute;
  width: 148px;
  height: 33px;
  left: 25px;
  top: 147px;

  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 141.5%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.reminder img {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 62px;
  top: 59px;
  border-radius: 15px;
}

.reminder button {
  position: absolute;
  width: 164px;
  height: 39px;
  background: #fff;
  left: 24px;
  border-radius: 10px;
  top: 199px;
  font-weight: 700;
  font-size: 12px;
}
