.logo {
  position: absolute;
  width: 125px;
  height: 44px;
  left: 50px;
  top: 84px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.055em;
  color: #0038ff;
}
.bar {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 122px;
  position: absolute;
  width: 149px;
  height: 686.5px;
  left: 50px;
  top: 196.5px;
}
.item > img {
  width: 19px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.item {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;

  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.item > h3 {
  width: 117px;
  height: 17px;

  font-family: "Urbanist";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 91.5%;
  /* or 14px */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
