@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


.mainBar {
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  width: 247px;
  height: 1024px;
  background: #ffffff;
  border-right: 1px solid #e6e6e6;
}

.rectangle {
  position: absolute;
  width: 4px;
  height: 33px;
  left: 0px;
  top: 190px;
  background: #0500ff;
}
.line {
  position: absolute;
  width: 169px;
  height: 0px;
  left: 39px;
  top: 578px;
  border: 1px solid #dfdfdf;
}
.subMainBar {
  border: 1px solid #000;
  position: absolute;
  width: 149px;
  height: 799px;
  left: 50px;
  top: 84px;
}
.logo h1 {
  border: 1px solid #000;
  position: absolute;
  width: 125px;
  height: 44px;
  /*  */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.055em;
  color: #0038ff;
}

.child {
  border: 1px solid rgb(170, 34, 34);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 122px;
  position: absolute;
  width: 149px;
  height: 686.5px;
  left: 0px;
  top: 110.5px;
}
.child1 {
  border: 2px dotted rgb(23, 95, 159);
  width: 161px;
  height: 314px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.child2 {
  border: 2px dotted rgb(23, 95, 159);
  width: 144px;
  height: 196px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frameI {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;

  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.frameII {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 59px;
}

.frameIII {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 118px;
}

.frameIV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 177px;
}

.frameV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 236px;
}
.frameVI {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 161px;
  height: 19px;
  left: 0px;
  top: 295px;
}

.subFrameI {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 19px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.subFrameI img {
  width: 19px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.subFrameII img {
  width: 19px;
  height: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.frameI p {
  width: 117px;
  height: 17px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frameII p {
  width: 117px;
  height: 14px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frameIII p {
  width: 117px;
  height: 14px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frameIV p {
  width: 117px;
  height: 14px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frameV p {
  width: 117px;
  height: 14px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.frameVI p {
  width: 117px;
  height: 14px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
