.container {
  border: 1px solid rgb(193, 13, 13);
  position: absolute;
  width: 291px;
  height: 301px;
  left: 1063px;
  top: 622px;
}
.container h1 {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 13px;
  top: 2px;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #000000;
}
.details {
  border: 1px solid #000;
  position: absolute;
  width: 289px;
  height: 251px;
  /* left: px; */
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.line {
  border: 1px solid #000;
  position: absolute;
  width: 244px;
  height: 0px;
  left: 22px;
  top: 157px;
  border: 1px solid #e6e6e6;
}
.heading {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  position: absolute;
  width: 242px;
  height: 22px;
  left: 23px;
  top: 26px;
}
.heading img {
  width: 13px;
  height: 13px;
}
.heading p {
  width: 226px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #a5a5a5;
}
.btn {
  border: 1px solid #000;
  position: absolute;
  width: 245px;
  height: 43px;
  left: 22px;
  top: 71px;
}

.btn h1 {
  width: 123px;
  height: 43px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 91.5%; */
  color: #000000;
  position:absolute;
  top: 0;
  left: 0;
  
}
.btn h1 span{
  color: #ACACAC;
}

.btn button {
  width: 113px;
  height: 39px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  left: 132px;
  top: 2px;
  background: #000aff;
  border-radius: 10px;
  position: absolute;
  top: 1px;
  cursor: pointer;
}

#openBtn:hover{
  background: #196fe6;
}

.icon {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 150px;
  height: 30px;
  left: 22px;
  top: 180px;
}
.icon img {
  width: 30px;
  height: 30px;
  margin-left: -6px;
}