.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 28px;
    border: 1px solid #000;
  position: absolute;
  width: 655px;
  height: 394px;
  left: 292px;
  top: 529px;
}
