.container {
  /* border: 1px solid #000; */
  width: 289px;
  height: 394px;
}
.title {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 366px;
  top: 0px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  color: #000000;
}
.chartBox {
  position: absolute;
  width: 289px;
  height: 344px;
  left: 366px;
  top: 42px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  /* border: 1px solid #000; */
}
.details {
  /* border: 1px solid #000; */
  position: absolute;
  width: 184px;
  height: 97px;
  left: 52px;
  top: 49px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.details > p:nth-child(1) {
  position: absolute;
  width: 124px;
  height: 10px;
  left: 25%;
  top: 0px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 91.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a5a5a5;
}
.details > p:nth-child(2) {
  position: absolute;
  width: 167px;
  height: 56px;
  left: 15%;
  top: 10px;

  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 91.5%;
  /* or 44px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.tabs {
  /* border: 1px solid #000; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 183px;
  height: 23px;
  left: 10px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 91.5%;
  top: 65px;
}
.tabs h3 {
  color: #bcbcbc;

  width: 34px;
  height: 13px;
  display: flex;
  align-items: center;
}

.chart {
  position: absolute;
  width: 237px;
  height: 141.5px;
  left: 27px;
  top: 172px;
  /* border: 1px solid #000; */
}
