.container {
  width: 102%;
  /* margin-top: 90px; */
  overflow-x: auto;
  float: right;
  /* margin: auto; */
  /* margin-left: auto; */
  
}

table {
  text-align: center;
  white-space: nowrap;
  /* padding: 20px; */
  
}
tr {
  /* border: 1px solid rgba(0, 0, 0, 0.144); */
}
th {
  border: 1px solid rgba(0, 0, 0, 0.122);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow: auto;
  height: 80px;
  padding: 10px;
}
th:active {
  background: rgba(92, 210, 250, 0.173);
} 

td {
  border: 1px solid rgba(0, 0, 0, 0.132);
  overflow: auto;
  height: 40px;
}
td:nth-child(1) {
  border: 1px solid rgba(0, 0, 0, 0.129);
  /* width: 600px; */
}
